@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: white;
}

html {
	scrollbar-color: white;
	scrollbar-gutter: auto;
	scrollbar-width: none;
}

/* WebKit-based browsers */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
	width: 100vw;
    min-height: 100vh;
}

.main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@apply bg-black;
	z-index: -1;
}

.blur-circle {
	position: absolute;
	border-radius: 50%;
	filter: blur(175px); /* Adjust blur as needed */
}

.circle1 {
	width: 250px;
	height: 250px;
	background: #FFD20A;
/*	@apply bg-rose-500;*/
	top: 10%;
	left: 20%;
}

.circle2 {
	width: 300px;
	height: 300px;
	background: #4FC69E;
/*	@apply bg-sky-500;*/
	top: 50%;
	left: 40%;
}

.circle3 {
	width: 250px;
	height: 250px;
	background: #348FFE;
/*	@apply bg-teal-500;*/
	top: 30%;
	left: 70%;
}

.content {
	position: relative;
	max-width: 80rem;
	z-index: 1;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

.text-gradient {
	background: linear-gradient(45deg, #348FFE, #4FC69E, #FFD20A);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}


/* Dash */
.dash-container {
  @apply grid grid-cols-12 grid-rows-12 h-dvh;
}

.top-nav {
  @apply row-start-1 row-end-2 col-span-12 bg-transparent text-white flex items-center justify-center p-4 md:relative md:h-auto md:col-span-12 md:row-span-1;
}

.sidebar {
  @apply col-span-12 w-full bg-transparent flex flex-col gap-4 pt-2 px-4 pb-4 md:relative md:h-auto md:col-span-2 md:row-span-11 md:px-4;
}

.main-section {
  @apply row-start-2 col-span-12 overflow-y-scroll mx-4 md:ml-0 md:mt-0 md:mr-4 md:mb-4 md:col-span-10 md:row-span-11 bg-transparent px-4 border rounded-md;
}


@media screen and (max-width: 640px) {
	.main {
		padding: 0;
	}
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.btn {
  @apply rounded-full border py-1.5 px-5 transition-all text-center text-sm font-inter flex items-center justify-center;
}

.light_btn {
  @apply rounded-full border border-white bg-white py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.dash-icon {
	@apply rounded-full p-2 flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-white sm:text-6xl;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm bg-white text-black outline-0;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-black font-medium;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}